<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="node_modules/.bin/tsx" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- First, try to serve static files from dist -->
        <rule name="Static Files" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="dist{REQUEST_URI}"/>
        </rule>

        <!-- For all other requests, route to our server -->
        <rule name="tsx">
          <match url="/*" />
          <action type="Rewrite" url="node_modules/.bin/tsx server/index.ts" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="node.exe"
      loggingEnabled="true"
      debuggingEnabled="true"
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>